* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.6rem;
    overflow: -moz-scrollbars-none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: unset;
}

a:active {
    color: unset;
    text-decoration: none;
}

.breadcrumb {
    display: flex;
    align-items: center;
    position: absolute;
    left: 15px;
    top: 0;
    background-color: transparent;
}

.breadcrumb i {
    font-size: 13px;
    color: #808080;
}

.breadcrumb p {
    font-size: 12px;
    line-height: 18px;
    color: #a5a5a5;
    margin-left: 5px;
    margin-top: 1px;
}

h2 {
    margin-top: 5.7rem;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #555555;
    position: relative;
}
  
h2::after {
    display: block;
    content: "";
    position: absolute;
    width: 5.5rem;
    height: 2px;
    background-color: red;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: -1rem;
    transition: all .2s ease;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7rem;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease;
    z-index: 20;
    border-bottom: 1px solid #e9e9e9;
    background-color: white;
}

.logo {
    width: 2.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.Navigation img {
    width: 100%;
    height: 5rem;
}

.DrawerToggle {
    width: 3rem;
    height: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.DrawerToggle div {
    width: 70%;
    height: 3px;
    background-color: #F26678;
}

.Navigation i {
    font-size: 4.4rem;
    margin-right: 9px;
    color: #F26678;
}

.candidate-view {
    margin-top: 7rem;
    background-color: #f9f9f9;
    height: unset;
    padding: 55px 15px;
    padding-bottom: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.candidate-holder {
    width: 100%;
    height: unset;
    padding: 3.3rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.candidate-holder h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #5a5a5a;
    position: relative;
    margin-bottom: 3rem;
}

.candidate-holder h3::after {
    display: block;
    content: "New!";
    position: absolute;
    top: -.3rem;
    right: -1.5rem;
    transform: translate(50%, -50%);
    color: #F44E59;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
}

.job-title {
    font-size: 14px;
    line-height: 17px;
    color: #5a5a5a;
    margin-bottom: 10px;
}

.item--tag {
    height: 2.8rem;
    width: 6rem;
    background-color: #4BC4BE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: normal;
    line-height: 1.8rem;
    font-size: 1.2rem;
    user-select: none;
    margin-bottom: 3.2rem;
}

.job-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.job-description-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 6rem;
    padding: 3px 12px;
    color: #808080;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
}

.job-description-item:first-child {
    border-top: 1px solid #F4F4F4;
}

.job-description-item .item-title:first-child {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
}

.job-description-item i {
    color: #808080;
    margin-right: 1rem;
    padding-top: 2px;
}

.message {
    margin-top: 2.6rem;
    margin-bottom: 1.7rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5A5A5A;
    text-transform: uppercase;
}

.candidate-message {
    padding-bottom: 3.4rem;
    border-bottom: 1px solid #F4F4F4;
}

.candidate-message p {
    font-size: 13px;
    line-height: 18px;
    color: #555555;
}

.candidate-holder button {
    width: 90px;
    height: 36px;
    background: #F26678;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 2.9rem;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidate-holder button i {
    margin-right: 5px;
    font-size: 1.6rem;
}